<div class="user-block clearfix">
  <a class="avatar link">
    <img src="{{user.photo}}"/>
  </a>
  <div class="name">
    <a class="link">{{user.name}}</a>
  </div>
  <button class="blue-btn follow relative-center-y">
    Follow
  </button>
</div>
