{{outlet}}
<div class= "create">
  <p>Reset password</p>
</div>
<div class="signin">
  <form action = "processingscript.php" method = "post">
    <p><input name = "email" class= "username" placeholder = "Enter your email..."></p>
  </form>
</div>
<div class="rest">
  <div class="log">
    <form method="link" action="/check">
    <input type="submit" value = "Reset password" name = "Reset password">
  </form>
  </div>
</div>
