{{outlet}}
<div id = "create">
  <p>Create your account</p>
</div>
<div class="signin">
  <form action = "processingscript.php" method = "post">
    <p><input name = "name" id = "username" placeholder = "Enter your name..."></p>
    <p><input name = "username" id = "username" placeholder = "Enter your username..."></p>
    <p><input type = "password"  placeholder = "Enter your password..." name = "password" id = "password" ></p>
  </form>
<div class="signup">
  <div class="log">
    <input type="button" value = "Sign up" name = "Sign up"><span class="login"><a href="/login">Login</a></span>
</div>
</div>
</div>
