
.main{
  font-family: "Open Sans";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008CB8;


}
.front-card{
  background-color: white;
  position: relative;
  margin: 100px 100px;
  height: 57%;
  min-width: 920px;
}
.left{
  position: relative;
  float:left;
  width: 50%;

}
.logo{
  position: absolute;
  top: 150px;
  left: 150px;
  border-style: solid
  border-width: 2px;
  border-top-color: white;
  border-right-color: #EEEEEE;
  border-bottom-color: white;
  border-left-color: white
}
.right{
  position:relative;
  float: right;
  width: 50%;
}
.post{
  position: absolute;
  top: 0px;
  right: 0px;
  clear: both;
}
#create{
  font-size: 22px;
  color: #000000;
  padding-left: 100px;
  padding-top: 125px;


}
#recover{
  font-size: 13px;
  padding-left: 100px;
  color: #000000;
}
.signin{
  padding-left: 100px;
}
#username{
  font-size: 13px;
  color: #000000;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: #EEEEEE;
  padding-right: 150px;

}
#password{
  font-size: 13px;
  color: #000000;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: #EEEEEE;
  padding-right: 150px;

}
.rest{
  display: inline-block;
  padding-left: 0px;
}
.reset{
  padding-left: 150;
}
.log{
  margin-bottom: 50px;
  margin-top: 30px;
}
input[type="button"] {
  background-color: white;
  border-style: solid;
  border-color: white;
  font-size: 13px;
  color: #008CB8;
  border-style: solid;
  border-width: 1px;
  border-color:#008CB8;
  padding: 7px;


}
input[type="submit"] {
  background-color: white;
  border-style: solid;
  border-color: white;
  font-size: 13px;
  color: #008CB8;
  border-style: solid;
  border-width: 1px;
  border-color:#008CB8;
  padding: 7px;


}
a{
  text-decoration:none;
  color:#008CB8;
}
.rec {
  font-size: 13px;
  padding-left: 85px;
}
.login{
  font-size: 13px;
  padding-left: 200px;
}
.sign {
  font-size: 13px;
}
.mid {
  font-size: 13px;
}
.clearboth{
  clear: both;
}
