{{nav-bar authenticatedUser=session.authenticatedUser loggingOut="logOut"}}
<div class="profile">
  <div class="user-header">
    <img class="avatar" src="{{model.photo}}"/>
    <div class="name">{{model.name}}</div>
    <div class="username">@{{model.id}}</div>
    <button class="blue-btn follow">Follow</button>
  </div>

  <div class="tab-header">
    {{#link-to "user.posts" class="tab"}}Posts{{/link-to}}
    {{#link-to "user.following" class="tab active"}}Following{{/link-to}}
    {{#link-to "user.followers" class="tab"}}Followers{{/link-to}}
  </div>

  <div class="users-list">

  </div>
</div>
